.blog-summaries .blog-summary {
    margin-bottom: 2em;
}

.blog-summary {
    margin: 0 2em 0 2em;
    padding: 1em;
    border: solid 1px #aaa;
    border-radius: 0.25em;
}

.blog-summary img {
    height: 25vh;
    border: solid 1px #fff;
    border-radius: 0.25em;
}

.blog-summary img:hover {
    box-shadow: 0 0.1em 0.5em 0em #8e8e8e;
}

.blog-page {
    flex: 1 0 auto;
}

.blog-page-control {
    flex-shrink: 0;
    text-decoration: none;
    color: #484848;
    font-size: 1em;
}

.blog-subtitle {
    align-items: baseline;
}

.blog-article {
    margin: 3em;
}

.blog-article > img {
    height: 25vh;
}

@media (max-width: 500px) {
    .blog-summary h1 {
        font-size: 1.5em;
    }

    .blog-subtitle {
        margin: 0.5em;
        font-size: 0.8em;
    }

    .blog-article {
        margin: 1em;
    }
}
