/* All explicit styles for large 1000px+ screens*/

header {
    margin: 0 auto;
    width: 100%;
    padding-top: 1vw;
    background: #EEE;
}

.header-title {
    padding-bottom: .5vw;
    font-size: 3em;
    font-weight: 300;
    letter-spacing: .8vw;
    text-indent: .8vw;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 2vw rgba(255, 255, 255, 0.5), 0 0 3vw rgb(255, 255, 255);
    color: #616161;
    /* border-radius: .3em; */
    /* box-shadow: 0 0 4vw 1.2vw #d8d3d3, inset 0 0 0.8vw 0 #a5a5a5; */
    box-shadow: 0 0.1em 0.1em 0em #ccc;
    border-bottom: solid #b1b1b1 1px;
}

    .header-title :hover {
        text-shadow: 0 0 2vw rgba(158, 158, 158, 0.8), 0 0 3vw rgb(123, 123, 123);
    }

    .header-title a {
        color: inherit;
        text-decoration: inherit;
    }

        .header-title a:hover {
            color: inherit;
            text-decoration: inherit;
        }

body {
    font-family: Helvetica Neue, Helvetica, sans-serif !important;
    background: #ddd !important;
}

.glow-title-light {
    text-shadow: 0 0 2vw rgba(1,1,1,.5), 0 0 3vw rgba(0,0,0,1)
}

.glow-title-dark {
    text-shadow: 0 0 2vw rgba(1,1,1,.5), 0 0 3vw rgba(1,1,1,1)
}

.glow-shadow-light {
    box-shadow: 0 0 4vw 1.2vw #FFF, inset 0 0 0.8vw 0 #FFF;
}

.glow-shadow-dark {
    box-shadow: 0 0 4vw 1.2vw #FFF, inset 0 0 0.8vw 0 #000;
}

.page {
    flex: 1 0 auto;
}

.layout {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background: #FFFFFF;
    margin: 0 auto 0 auto;
    border-left: solid #b1b1b1 2px;
    border-right: solid #b1b1b1 2px;
    box-shadow: 0 0 0.5em 0.2em #a0a0a0;
    max-width: 1200px;
    overflow: auto;
}

.markdown img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.markdown blockquote {
    margin-left: 1.5em;
    padding: .5em;
    background-color: #eee;
    font-style: italic;
}

    .markdown blockquote p {
        padding: 0px;
        margin: 0px;
    }


.markdown pre {
    padding: .5em;
    width: 100%;
    background-color: #eee;
    border: 1px solid #000;
}

.markdown code {
}

.markdown pre code {
}

.markdown table {
    margin: .5em;
    border: 1.5px solid #333;
}

.markdown thead {
    background-color: #aaa;
    font-weight: 500;
}

.markdown tbody {
    background-color: #eee;
}

.markdown tr {
}

.markdown th {
    border: 1px solid #333;
    padding: 0em .2em 0em .2em;
}

.markdown td {
    border: 1px solid #999;
    padding: 0em .2em 0em .2em;
}


/* Large mobile devices (iPads) and older laptops */
@media screen and (max-width: 1200px) {
    .layout {
        max-width: 800px;
    }

    .header-title {
        font-size: 1.5em;
    }
}

/* Mobile devices */
@media screen and (max-width: 320px) {
    .layout {
        margin: inherit;
        border: inherit;
        box-shadow: inherit;
    }

    .header-title {
        box-shadow: inherit;
    }

    .header-title {
        font-size: 1em;
    }
}
