/* All explicit styles for large 1000px+ screens*/

header {
    margin: 0 auto;
    width: 100%;
    padding-top: 2vw;
    background: #EEE;
}

.header-title {
    padding-bottom: 1.5vw;
    font-size: 3em;
    font-weight: 300;
    letter-spacing: 1.2vw;
    text-indent: 1.2vw;
    display: flex;
    justify-content: center;
    text-shadow: 0 0 2vw rgba(255, 255, 255, 0.5), 0 0 3vw rgb(255, 255, 255);
    color: #616161;
    /* border-radius: .3em; */
    /* box-shadow: 0 0 4vw 1.2vw #d8d3d3, inset 0 0 0.8vw 0 #a5a5a5; */
    box-shadow: 0 0.1em 0.1em 0em #ccc;
    border-bottom: solid #b1b1b1 1px;
}

    .header-title :hover {
        text-shadow: 0 0 2vw rgba(158, 158, 158, 0.8), 0 0 3vw rgb(123, 123, 123);
    }

    .header-title a {
        color: inherit;
        text-decoration: inherit;
    }

        .header-title a:hover {
            color: inherit;
            text-decoration: inherit;
        }

body {
    font-family: Helvetica Neue, Helvetica, sans-serif !important;
    background: #ddd !important;
}

.glow-title-light {
    text-shadow: 0 0 2vw rgba(1,1,1,.5), 0 0 3vw rgba(0,0,0,1)
}

.glow-title-dark {
    text-shadow: 0 0 2vw rgba(1,1,1,.5), 0 0 3vw rgba(1,1,1,1)
}

.glow-shadow-light {
    box-shadow: 0 0 4vw 1.2vw #FFF, inset 0 0 0.8vw 0 #FFF;
}

.glow-shadow-dark {
    box-shadow: 0 0 4vw 1.2vw #FFF, inset 0 0 0.8vw 0 #000;
}

.page {
    flex: 1 0 auto;
}

.layout {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    background: #FFFFFF;
    margin: 0 auto 0 auto;
    border-left: solid #b1b1b1 2px;
    border-right: solid #b1b1b1 2px;
    box-shadow: 0 0 0.5em 0.2em #a0a0a0;
    max-width: 1200px;
    overflow: auto;
}


/* Large mobile devices (iPads) and older laptops */
@media screen and (max-width: 1200px) {
    .layout {
        max-width: 800px;
    }

    .header-title {
        font-size: 1.5em;
    }
}

/* Mobile devices */
@media screen and (max-width: 320px) {
    .layout {
        margin: inherit;
        border: inherit;
        box-shadow: inherit;
    }

    .header-title {
        box-shadow: inherit;
    }

    .header-title {
        font-size: 1em;
    }
}
