footer {
    background: linear-gradient(0deg, rgb(179, 179, 179) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 100%);
    flex-shrink: 0;
}

.connections {
    justify-content: space-evenly;
}

.connect-icon img {
    height: 96px;
    width: 96px;
}

.connect-icon a .connect-name {
    color: #000;
    text-transform: uppercase;
    visibility: hidden;
}

.connect-icon a:hover h1 {
    color: #fff;
    visibility: visible;
}

.built-with {
    text-transform: capitalize;
}

/* Large mobile devices (iPads) and older laptops */
@media screen and (max-width: 1000px) {
}

/* Mobile devices */
@media screen and (max-width: 320px) {
}
