.repoActivity {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    overflow-wrap: break-word;
    background: #fff;
    /*box-shadow: 0 0 1vw 0.1vw #ccc;*/
    height: 100%;
    overflow: hidden;
}

.repoActivity h2 {
    font-size: 1.5em;
}

.commits {
    display: flex;
    flex-direction: column;
    padding: 0 0.2em 0 0.2em;
    line-height: normal;
    overflow-y: auto;
}

.commit {
    display: flex;
    flex-direction: column;
    margin: 0.2em 0 0.2em 0;
    padding: 0 0.2em 0 0.2em;
    border: solid #ccc 1px;
    border-radius: 0.15em;
    /* box-shadow: 0 0 0.15em 0.05em #ccc; */
    text-overflow: ellipsis;
}

.commit:hover {
    box-shadow: 0 0 0.15em 0.05em #ccc;
}

.commit a {
    color: inherit;
    text-decoration: inherit;
    /* font-size: .6em;
        overflow-wrap: normal;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; */
}

.commit a:hover {
    color: inherit;
    text-decoration: inherit;
}

.commit p {
    font-size: 0.75em;
    /* font-weight: 300; */
    margin: 0 0 0.1em 0;
}

.commitDetails {
    display: flex;
    font-size: 0.75em;
    font-weight: 300;
    word-break: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.commitDetails b {
    font-weight: 500;
}

.commitDetails div {
    margin: 0 0.5em 0 0;
    word-break: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.contributors {
    display: flex;
    flex-direction: column;
}

.contributors h3 {
    font-size: 1.5em;
}

.contributor {
    font-size: 0.9em;
}

.contributor a {
    font-weight: 800;
    color: none;
}

/* Large mobile devices (iPads) and older laptops */
@media screen and (max-width: 1200px) {
}

/* Mobile devices */
@media screen and (max-width: 320px) {
    .repoActivity h2 {
        font-size: 1em !important;
    }

    .commitDetails {
        font-size: 0.6em !important;
        word-break: break-all;
        white-space: nowrap;
    }

    .commitDetails i {
        visibility: hidden;
        overflow-wrap: normal;
    }

    .commit a {
        font-size: 0.4em !important;
    }

    .commit p {
        font-size: 0.6em !important;
    }

    .contributors h3 {
        font-size: 0.75em !important;
    }

    .contributor {
        font-size: 0.6em !important;
    }
}
