.project {
    margin: 1em;
    padding: 1em;
    border: #b1b1b1 solid 1px;
    border-radius: 0.5em;
    max-width: 350px;
}

.project:hover {
    box-shadow: 0 0 0.5em 0.2em #ddd;
}

.modal-content {
    height: 75vh;
    min-height: 25vh;
    border-radius: 0.3em;
    border: solid #c7c7c7 1px;
    background: rgba(255, 255, 255, 0.8);
}

.modal-content-item {
    flex: 1 1 0;
    width: auto;
    overflow: hidden;
    border-radius: 0.3em;
    border: solid #c7c7c7 1px;
}

.modal-description {
    overflow-y: auto;
    overflow-wrap: break-word;
    background: #fff;
}

.modal-description p {
    overflow: auto;
}

.modal-main {
    width: 90vw;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.tool {
    /* margin: 0.15em 0.5em 0.15em 0; */
    /* padding: 0 0.25em 0 0.25em; */
    border-radius: 5px;
    color: #fff;
    /* text-shadow: 0 0 0.5em #adadad; */
    font-size: 0.75em;
}

.tool-language {
    background: var(--medium-blue);
}

.tool-framework {
    background: var(--medium-orange);
}

.tool-other {
    background: var(--medium-green);
}

/* Large mobile devices (iPads) and older laptops */
@media screen and (max-width: 1200px) {
    .project-name {
        font-size: 1.5em;
    }

    .project {
        width: auto;
    }
}

/* Mobile devices */
@media screen and (max-width: 720px) {
    .modal-content {
        flex-direction: column-reverse;
    }
}
/* Mobile devices */
@media screen and (max-width: 320px) {
    .project-name {
        font-size: 1em;
    }

    .project {
        width: auto;
    }

    .modal-content {
        max-height: 75vh;
        padding: 0.1em !important;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .modal-content-item {
        margin: 0.1em !important;
    }

    .modal-description a h1 {
        font-size: 1.5em !important;
    }

    .modal-content p {
        font-size: 0.75em;
    }

    .tool {
        font-size: 0.6em;
        border-radius: 2px;
    }
}
